<section>
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="signIn"
        (ngSubmit)="onSubmit()">
        <mat-form-field class="signin-full-width" appearance="legacy">
            <mat-label>Email id</mat-label>
            <input type="email" matInput placeholder="Enter email id" id="emailId" formControlName="emailId" />
            <mat-error *ngIf="signInFormControll.emailId.errors?.required">Email id must not empty</mat-error>
            <mat-error *ngIf="!signInFormControll.emailId.errors?.required">Invalid/missing email id</mat-error>
        </mat-form-field>
        <mat-form-field class="signin-full-width" appearance="legacy">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Enter password" formControlName="password"/>
            <mat-error *ngIf="signInFormControll.password.errors?.required">Password cann't be empty</mat-error>
            <mat-error *ngIf="!signInFormControll.password.errors?.required">Invalid/missing password</mat-error>
        </mat-form-field>
        <mat-checkbox class="example-margin" color="primary" formControlName="isAcceptedTerms">I accept terms &
            conditions.</mat-checkbox>
        <button mat-raised-button color="primary" type="submit" class="signin-button"
            [disabled]="signIn.invalid">LogIn</button>

            
    </form>
</section>
